<div class="header">
	<div class="left-content">
		<span class="qliktive">Qliktive</span>
		<span class="hello-visualization">Hello Visualization</span>
	</div>
	<div class="right-content">
		
		<img class="git-hub-icon" src="src/hello-visualization/resources/github-social-logo.svg" ng-click="openGithub()" title="Open GitHub project">
	</div>
</div>
<div class="content" ng-click="$ctrl.clearAllSelections()">
	<div class="container" ng-if="$ctrl.connected">
		<div class="title">Top 50 most expensive movies releases per year</div>
		
		<div id="chart-container" class="picasso-chart"></div>
	</div>
</div>
<div class="error" ng-if="!$ctrl.connected && !$ctrl.connecting">
	<div class="error-wrapper">
		<span class="lui-icon--warning"></span>
		<span class="error-title">Oops! Something went wrong.</span>
		<span>{{$ctrl.error ? $ctrl.error : "Unexpected error"}}</span>
	</div>
</div>
